@media (max-width: 1600px) {
  body {
    font-size: .7rem;
  }
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, #__next {
    height: 100%;
    font-size: 1rem;
}

#__next {
    display: flex;
    flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.work-item {
    padding: .75rem;
}

.carousel {
    position: relative;
    width: 100%;
  }
  
  .carousel__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .carousel__nav-button {
    cursor: pointer;
  }
  
  .carousel__photos {
    display: flex;
  }
  
  .carousel__photo {
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  .carousel__photo--hidden {
    display: none;
  }
  
  .carousel__indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .carousel__indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel__indicator--active {
    background-color: #333;
  }